{% extends '_base.html' %}


{% block content %}

<h1>CART</h1>

<h3>In your Cart</h3>
{% if cart %}
{% for plan in plans %}
    <p>{{plan.provider}}</p>
    <p>{{plan.name}}</p>
    <p>price: {{plan.price}}</p>
{% endfor %}

<p>Total: {{total}}</p>

<a href="{% url 'add_plan' %}">Add Plan</a>

<form action="{{form_link}}">
    <input type="hidden" name="UMamount" value="{{total}}">
    <input type="submit" class="btn btn-primary" value="Continue to Payment Form" formtarget="_blank">
</form>
{% else %}
<p>{{message}}</p>
{% endif %}


{% endblock %}

