{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="d-flex justify-content-center">
  <div class="col-md-3 card d-flex justify-content-center p-3 shadow-sm">
    <div class="card-header" >
      <h1>CART</h1>
      <h3>In your Cart</h3>
    </div>
    <div class="card-body" >
      {% if cart %}
      {% for plan in plans %}
      <div class="card m-3">
        <div class="card-header">
          <div class="row">
            <div class="col-md-10"><p>{{plan.provider}}</p></div>
            <div class="col-md-2"><img src="/static/cart/{{plan.provider}}.png" class="img-fluid"></div>
          </div>

        </div>
        <p>{{plan.name}}</p>
        <p>price: {{plan.price}}</p>
      </div>

          <form action="{% url 'cart_code' cart_id=cart.id %}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Add Coupon</button>

          </form>
      {% endfor %}

      <div class="card-footer" >
        <p>Total: {{total}}</p>
        <div class="row justify-content-between">
          <div class="col-md-5">
            <a class="btn btn-primary" href="{% url 'checkout' amount=total %}" >Checkout</a>
          </div>
          <div class="col-md-5">
            <a class="btn btn-secondary" href="{% url 'add_plan' %}">Add Plan</a>
          </div>
        </div>

      </div>

      {% else %}
      <p>{{message}}</p>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}

