{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'actionables/past-due.css' %}">
{% endblock %}
{% block content %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Order Number</th>
            <th>Phone No</th>
            <th>Sim Number</th>
            <th>Plan</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        {% for account in cancelled_accounts %}
            <tr>
                <td>{{account.user_id.ship_fname}} {{account.user_id.ship_lname}}</td>
                <td>1234567890</td>
                <td>{{account.phone_number}}</td>
                <td>{{account.esim_number}}</td>
                <td>{{account.plan_id.name}}</td>
                <td>{% if account.is_suspended %} Inactive {% else %} Active {% endif %}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#samplesModal">Re-Activate</a></li>
                            <li><a class="dropdown-item" href="#">Close</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <div class="modal fade" id="samplesModal" tabindex="-1" aria-labelledby="samplesModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="sampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <ul class="list-unstyled">
                                    <li class="row">
                                        <div class="col-sm-6">Plan</div>
                                        <div class="col-sm-6 text-sm-center">{{account.plan_id.name}}</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6">Address</div>
                                        <div class="col-sm-6 text-sm-center">{{account.user_id.ship_address}}  {{account.user_id.ship_city}}, {{account.user_id.ship_state}}  {{account.user_id.ship_zip}}</div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6">IMEI</div>
                                        <div class="col-sm-6 text-sm-center">{{account.imei}}</div>
                                    </li>
                                    <!-- ... -->
                                </ul>
                            <form action="{% url 'activate_user' sub_id=account.id%}" method="post">
                                {% csrf_token %}

                                <div>
                                    <input class="form-control border-0 border-bottom" id="phone_number" value="{%if account.phone_number %}{{account.phone_number}}{% endif %}" placeholder="Phone number" name="phone_number" />
                                </div>
                                <div class="input-group">
                                    <input list="fruits" class="form-control border-0 border-bottom" placeholder="BAN Account" name="ban_account" value="{%if account.ban_account %}{{account.ban_account}}{% endif %}">

                                    <datalist id="fruits">
                                    {% for account in ban_accounts %}
                                    <option value="{{account.ban_name}}: {{account.ban_number}}">
                                    {% endfor %}
                                    </datalist>
                                </div>
                                <div>
                                    <button class="btn btn-success m-3" type="submit">Re-Activate</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

