{% extends '_base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'actionables/past-due.css' %}">
{% endblock %}

{% block content %}
<!--General Page-->
<div class="card p-3 col-md-8 m-auto shadow">
<!--Basic User Info Top line-->
  <div class="container w-100 col-md-12 mb-3 ">
    <div class="row">
<!--      First box-->
      <div class="col-md-4 mr-1">
        <div class="card h-100 row mr-1">
          <div class="card-body">
            <h5 class="card-title">{{user.ship_fname}} {{user.ship_lname}}</h5>
            <p>Email: {{user.email}}</p>
            <a href="{% url 'change_profile' %}">Edit Profile</a>
          </div>
        </div>
      </div>
<!--      Second Box-->
      <div class="col-md-4 mr-1">
        <div class="card h-100 row no-gutters">
          <div class="col-md-4">
            <img src="path_to_your_image.jpg" class="card-img-top" alt="Image Alt Text">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">AMOUNT DUE: $50.00</h5>
            </div>
          </div>
        </div>
      </div>
<!--      Third Box -->
      <div class="col-md-4">
        <div class="card h-100 row no-gutters">
          <div class="col-md-4">
            <img src="path_to_your_image.jpg" class="card-img-top" alt="Image Alt Text">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">DUE DATE: Sep 17, 2023</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Tab container Header-->
  <div class="container p-0"  style="background-color: white">
    <ul class="nav nav-tabs d-flex bg-light" id="accountTab" role="tablist">
      <li class="nav-item flex-grow-1" role="presentation">
        <a class="nav-link active" id="activation-tab" data-bs-toggle="tab" href="#activation" role="tab">Active Subscriptions</a>
      </li>
      <li class="nav-item flex-grow-1" role="presentation">
        <a class="nav-link" id="active-tab" data-bs-toggle="tab" href="#active" role="tab">Active Accounts</a>
      </li>
      <li class="nav-item flex-grow-1" role="presentation">
        <a class="nav-link" id="overdue-tab" data-bs-toggle="tab" href="#overdue" role="tab">Overdue Accounts</a>
      {% if request.user.is_superuser %}
      </li>
      <li class="nav-item flex-grow-1" role="presentation">
        <a class="nav-link" id="email-tab" data-bs-toggle="tab" href="#email" role="tab">Send Email</a>
      </li>
      {% endif %}
      <li>
        <a class="nav-link" id="email-records-tab" data-bs-toggle="tab" href="#emailRecords" role="tab">Email Records</a>
      </li>
    </ul>
<!--Active Subscriptions Tab Content-->
    <div class="tab-content mt-5" id="accountTabContent">
      <div class="table-responsive tab-pane fade show active" id="activation" role="tabpanel" aria-labelledby="activation-tab">
<!--       Subscription table-->
        <table class="table table-borderless table-hover">
          <thead>
          <tr>
            <th>Order Number</th>
            <th>Active Number</th>
            <th>BAN</th>
            <th>Plan</th>
            <th>Price</th>
            <th>Provider</th>
            <th>SIM</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
            {% for sub in subs %}
            {% if not sub.is_cancelled and sub.is_active %}
            <tr>
              <td>{{sub.id}}</td>
              <td>{{sub.phone_number}}</td>
              <td>{{sub.ban_account.ban_number}}</td>
              <td> {{sub.plan_id.name}} </td>
              <td> {{sub.plan_id.price}} </td>
              <td> {{sub.plan_id.provider}} </td>
              <td> {{sub.esim_number}} </td>
              <td>
                <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal">Cancel Plan</li>
                            <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#passModal">Request Data Pass</li>
                            <li><a class="dropdown-item" href="#">Close</a></li>
                        </ul>
                    </div>
              </td>
            </tr>
          {% endif %}
<!--            Cancellation Modal-->
            <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Cancel Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" >
                    <form action="{% url 'del_plan' sub_id=sub.id %}" method="post">
                      {% csrf_token %}
                      <p>Are you sure you want to cancel your plan?</p>
                      <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Cancel your plan</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
<!--            data pass modal-->
            <div class="modal fade" id="passModal" tabindex="-1" aria-labelledby="passModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Cancel Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" >
                    <form action="{% url 'data_pass' %}" method="post">
                      {% csrf_token %}
                      <p>Are you sure you want this option?</p>
                      <div class="modal-footer">
                        <button class="btn btn-danger" type="submit">Request data pass</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      {% endfor %}

      </tbody>
      </table>
        <a href="{% url 'add_plan' %}">Add Plan</a>
      </div>
<!--    sub-list-->
      <div class="tab-pane fade" id="active" role="tabpanel" aria-labelledby="active-tab">
        {% include 'actionables/sub_list.html' %}
      </div>
<!--    past dues-->
      <div class="tab-pane fade" id="overdue" role="tabpanel" aria-labelledby="overdue-tab">
        {% include 'actionables/past-due.html' %}
      </div>
<!--    admin email send-->
    {% if request.user.is_superuser %}
      <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
        {% include 'emails/single_email.html' %}
      </div>
    {% endif %}
      <div class="tab-pane fade" id="emailRecords" role="tabpanel" aria-labelledby="email-records-tab">
        {% include 'emails/email_records.html' %}
      </div>

      <!-- ... Add more tab content as necessary -->
    </div>
  </div>
</div>



{% if superuser %}
    <a href="/admin">Back to Admin</a>
{% endif %}

{% endblock content %}