{% extends '_base.html' %}

{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static 'plans/plans.css' %}">
{% endblock %}
{% block content %}
<ul>
    <div>
        <div class="row mx-5">
    {% for plan in plans %}
            <div class="col-md-3 m-5">
        <div class="card" style="color: {{plan.color}}" >
            <div class="card-body">
                <h5 class="card-title text-center">{{plan.name}}</h5>
                <div class="card-text text-center">
                <h6>{{plan.provider}}</h6>
                <p>{{plan.price}}</p>
                <p>{{plan.slug}}</p>
                <p>{{plan.description}}</p>
                <div>
                    <a href="{% if id %}/my-account/change_profile{% else %}/subscribe{%endif%}/{{ plan.id }}" class="btn btn-primary" >
                      {% if id %}Add/Change Plan{% else %}Get Started {% endif %}
                    </a>
                </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
        </div>
    </div>
</ul>



{%endblock content%}

