{% extends '_base.html' %}

{% load static %}
{% block extra_css%}
    <link rel="stylesheet" href="{% static "plans/plans.css" %}">
{% endblock %}
{% block content %}
<ul>
    {% for plan in plans %}
    <div>
        <div class="card" style="color: {{plan.color}}" >
            <div class="card-body">
                <h5 class="card-title">{{plan.name}}</h5>
                <h6>{{plan.provider}}</h6>
                <p>{{plan.price}}</p>
                <p>{{plan.slug}}</p>
                <div>
                    <a href="{% if id %}/my-account/change_profile{% else %}/accounts/signup{%endif%}?plan_id={{ plan.id }}" class="btn btn-primary" >
                      {% if id %}Add/Change Plan{% else %}Get Started {% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</ul>



{%endblock content%}

